# Zillow

acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

In [1]:
import pandas as pd
import acquire_zillow

In [2]:
# from env import host, password, username
# def get_db_url(db_name, username=username, hostname=host, password=password):
#     return f'mysql+pymysql://{username}:{password}@{hostname}/{db_name}'

In [3]:
# url = get_db_url(db_name='zillow')

2. Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    * Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
    * Only include properties that include a latitude and longitude value.
    * Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
# query = """ 
#             SELECT *
#             FROM properties_2017
#             JOIN predictions_2017 USING(parcelid)
#             LEFT JOIN airconditioningtype USING(airconditioningtypeid)
#             LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
#             LEFT JOIN buildingclasstype USING(buildingclasstypeid)
#             LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
#             LEFT JOIN propertylandusetype USING(propertylandusetypeid)
#             LEFT JOIN storytype USING(storytypeid)
#             LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
#             LEFT JOIN unique_properties USING(parcelid)
#             WHERE transactiondate BETWEEN '2017-01-01' AND '2017-12-31'
#         """

In [5]:
# df = pd.read_sql(query, url)
# df.head(3)

In [6]:
# df2 = pd.DataFrame(df.groupby('parcelid').transactiondate.max()).reset_index()

In [7]:
# df3 = pd.merge(df2, df, on=['parcelid','transactiondate'])
# print(len(df))
# print(len(df3))

In [8]:
# df = df3.copy()

In [9]:
# print(df.latitude.isna().sum())
# print(df.longitude.isna().sum())
# print(df.latitude.dropna().isna().sum())
# print(df[['latitude','longitude']].dropna().isna().sum())
# print(len(df))
# print(df[['latitude','longitude']].dropna().shape)
# print(len(df.dropna()))

In [10]:
# import pandas as pd

# from env import host, password, username

# def get_db_url(db_name, username=username, hostname=host, password=password):
#     """ Build an SQL query using env credentials """
#     return f'mysql+pymysql://{username}:{password}@{hostname}/{db_name}'

# def zillow_clustering_acquire():
#     """ Acquire each table from Codeup database 'zillow' from 2017 with 
#         one entry per parcel (latest transaction date) and no nulls in lat/long """
#     # Build query
#     url = get_db_url(db_name='zillow')
#     query = """ 
#                 SELECT *
#                 FROM properties_2017
#                 JOIN predictions_2017 USING(parcelid)
#                 LEFT JOIN airconditioningtype USING(airconditioningtypeid)
#                 LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
#                 LEFT JOIN buildingclasstype USING(buildingclasstypeid)
#                 LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
#                 LEFT JOIN propertylandusetype USING(propertylandusetypeid)
#                 LEFT JOIN storytype USING(storytypeid)
#                 LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
#                 LEFT JOIN unique_properties USING(parcelid)
#                 WHERE (transactiondate BETWEEN '2017-01-01' AND '2017-12-31')
#                     AND (latitude IS NOT NULL) 
#                     AND (longitude IS NOT NULL)
#             """
#     # Run query
#     df1 = pd.read_sql(query, url)
#     # Create separate indexing df with one entry per parcel
#     df2 = pd.DataFrame(df1.groupby('parcelid').transactiondate.max()).reset_index()
#     # Join the two dataframes
#     df = pd.merge(df2, df1, on=['parcelid','transactiondate'])
    
#     return df

In [11]:
df = acquire_zillow.zillow_clustering_acquire()

In [12]:
df[['parcelid','latitude','longitude']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77380
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   parcelid   77381 non-null  int64
 1   latitude   77381 non-null  float64
 2   longitude  77381 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.4 MB

In [13]:
len(df.parcelid.drop_duplicates())

77381

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
df.parcelid.isna().sum()

0

In [15]:
def attribute_deets(df):
    # Create empty lists
    column_list = []
    nullcount_list = []
    percentage_list = []
    # Read each column's metrics into each list
    for col in df.columns:
        column_list.append(col)
        nullcount_list.append(df[col].isna().sum())
        percentage_list.append(df[col].isna().sum() / len(df))
    
    df_dict = {'attribute':column_list, 
               'nullcount':nullcount_list,
               'percent_null':percentage_list}
    df = pd.DataFrame(df_dict)
    
    return df

In [16]:
attribute_deets(df)

                 attribute  nullcount  percent_null
0                 parcelid          0      0.000000
1          transactiondate          0      0.000000
2   typeconstructiontypeid      77159      0.997131
3              storytypeid      77331      0.999354
4    propertylandusetypeid          0      0.000000
..                     ...        ...           ...
64     propertylandusedesc          0      0.000000
65               storydesc      77331      0.999354
66    typeconstructiondesc      77159      0.997131
67             property_id          0      0.000000
68          transaction_id          0      0.000000

[69 rows x 3 columns]

1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [34]:
def column_deets(df):
    # Calculate row-wise metrics for null columns
    rowwise_null_cols = df.isna().sum(axis=1) # for each row, get the count of null columns
    rowwise_null_col_percentage = (rowwise_null_cols / len(df.columns)) * 100 # % of cols with nulls
    # Put calculations in dataframe
    col_metrics_df = pd.DataFrame({'rowwise_null_cols':rowwise_null_cols,
                  'null_col_proportion':rowwise_null_col_percentage}).reset_index()
    # Group down to counts of similar rows
    col_metrics_df = col_metrics_df.groupby(['rowwise_null_cols', 'null_col_proportion']).count().reset_index()
    # Rename grouped column
    col_metrics_df = col_metrics_df.rename(columns={'index':'count_similar_rows'})
    
    return col_metrics_df

In [35]:
column_deets(df)

    rowwise_null_cols  null_col_proportion  count_similar_rows
0                  23            33.333333                   2
1                  24            34.782609                  13
2                  25            36.231884                  24
3                  26            37.681159                  65
4                  27            39.130435                 316
5                  28            40.579710                 455
6                  29            42.028986                5270
7                  30            43.478261                3455
8                  31            44.927536                9891
9                  32            46.376812               12579
10                 33            47.826087               14782
11                 34            49.275362               13327
12                 35            50.724638                5148
13                 36            52.173913                5775
14                 37            53.623188                3620
15                 38            55.072464                1925
16                 39            56.521739                 285
17                 40            57.971014                 230
18                 41            59.420290                  29
19                 42            60.869565                  23
20                 43            62.318841                  28
21                 44            63.768116                  78
22                 45            65.217391                  50
23                 46            66.666667                   5
24                 47            68.115942                   3
25                 48            69.565217                   3

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [39]:
df.head(0)

Empty DataFrame
Columns: [parcelid, transactiondate, typeconstructiontypeid, storytypeid, propertylandusetypeid, heatingorsystemtypeid, buildingclasstypeid, architecturalstyletypeid, airconditioningtypeid, basementsqft, bathroomcnt, bedroomcnt, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, threequarterbathnbr, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, airconditioningdesc, architecturalstyledesc, buildingclassdesc, heatingorsystemdesc, propertylandusedesc, storydesc, typeconstructiondesc, property_id, transaction_id]
Index: []

[0 rows x 69 columns]

In [40]:
df.propertylandusedesc.unique()

array(['Single Family Residential', 'Planned Unit Development',
       'Condominium', 'Duplex (2 Units, Any Combination)', 'Mobile Home',
       'Commercial/Office/Residential Mixed Used',
       'Quadruplex (4 Units, Any Combination)',
       'Triplex (3 Units, Any Combination)', 'Townhouse',
       'Residential General', 'Cooperative', 'Cluster Home',
       'Manufactured, Modular, Prefabricated Homes'], dtype=object)

- propertylandusedesc: 'Single Family Residential', 'Mobile Home', 'Manufactured, Modular, Prefabricated Homes'
- architecturalstyledesc: 'Bungalow', 'Ranch/Rambler'

In [38]:
for col in df.columns:
    print(df[col].unique())

[ 10711855  10711877  10711888 ... 167687839 167688532 167689317]
['2017-07-07' '2017-08-29' '2017-04-04' '2017-03-17' '2017-03-24'
 '2017-01-30' '2017-07-03' '2017-03-09' '2017-08-01' '2017-02-22'
 '2017-07-28' '2017-03-30' '2017-05-25' '2017-05-24' '2017-03-14'
 '2017-02-17' '2017-01-06' '2017-03-23' '2017-06-30' '2017-01-20'
 '2017-05-05' '2017-06-19' '2017-06-22' '2017-07-20' '2017-04-05'
 '2017-08-30' '2017-01-19' '2017-02-15' '2017-05-11' '2017-07-25'
 '2017-09-13' '2017-06-29' '2017-04-21' '2017-09-08' '2017-01-12'
 '2017-06-28' '2017-06-05' '2017-01-13' '2017-06-16' '2017-03-08'
 '2017-05-26' '2017-04-24' '2017-02-27' '2017-03-01' '2017-06-27'
 '2017-08-31' '2017-06-14' '2017-05-17' '2017-07-26' '2017-03-22'
 '2017-05-04' '2017-09-09' '2017-05-01' '2017-06-13' '2017-05-31'
 '2017-05-08' '2017-08-11' '2017-02-08' '2017-09-14' '2017-02-21'
 '2017-06-26' '2017-03-20' '2017-06-09' '2017-08-23' '2017-08-10'
 '2017-02-26' '2017-04-12' '2017-02-23' '2017-06-15' '2017-01-25'
 '2017-01-24' '2017-08-08' '2017-09-12' '2017-06-02' '2017-04-14'
 '2017-09-01' '2017-01-17' '2017-07-05' '2017-04-26' '2017-04-27'
 '2017-04-19' '2017-04-28' '2017-03-10' '2017-01-04' '2017-09-07'
 '2017-09-06' '2017-07-21' '2017-05-22' '2017-08-17' '2017-04-20'
 '2017-05-15' '2017-08-16' '2017-05-02' '2017-06-01' '2017-08-25'
 '2017-04-17' '2017-05-19' '2017-05-23' '2017-03-28' '2017-08-28'
 '2017-06-23' '2017-03-21' '2017-07-14' '2017-08-22' '2017-04-11'
 '2017-07-24' '2017-01-05' '2017-01-29' '2017-03-06' '2017-01-26'
 '2017-04-07' '2017-08-07' '2017-07-17' '2017-02-14' '2017-09-18'
 '2017-05-18' '2017-08-15' '2017-04-13' '2017-03-31' '2017-06-12'
 '2017-08-18' '2017-01-11' '2017-02-02' '2017-05-10' '2017-01-18'
 '2017-03-03' '2017-04-03' '2017-09-19' '2017-02-28' '2017-08-24'
 '2017-03-16' '2017-01-03' '2017-07-31' '2017-04-06' '2017-05-09'
 '2017-07-01' '2017-08-21' '2017-04-18' '2017-05-30' '2017-06-07'
 '2017-02-01' '2017-09-11' '2017-01-23' '2017-05-16' '2017-09-15'
 '2017-07-12' '2017-02-13' '2017-03-07' '2017-06-08' '2017-08-02'
 '2017-03-29' '2017-05-12' '2017-02-16' '2017-07-10' '2017-02-24'
 '2017-04-10' '2017-07-19' '2017-02-07' '2017-06-21' '2017-07-27'
 '2017-07-11' '2017-01-09' '2017-07-18' '2017-07-13' '2017-01-31'
 '2017-01-10' '2017-02-03' '2017-04-25' '2017-02-06' '2017-08-04'
 '2017-03-15' '2017-07-06' '2017-03-02' '2017-06-20' '2017-06-06'
 '2017-03-13' '2017-08-14' '2017-01-02' '2017-05-29' '2017-05-03'
 '2017-02-09' '2017-06-24' '2017-04-30' '2017-08-09' '2017-01-28'
 '2017-09-05' '2017-02-10' '2017-01-27' '2017-07-04' '2017-05-14'
 '2017-04-23' '2017-01-08' '2017-08-19' '2017-01-22' '2017-02-05'
 '2017-03-05' '2017-02-12' '2017-01-16' '2017-09-17' '2017-08-03'
 '2017-06-04' '2017-08-20' '2017-02-20' '2017-01-07' '2017-09-20'
 '2017-08-12' '2017-03-27' '2017-07-15' '2017-07-16' '2017-03-12'
 '2017-01-01' '2017-09-04' '2017-04-02' '2017-06-25' '2017-02-19'
 '2017-07-23' '2017-01-15' '2017-06-17' '2017-05-27' '2017-07-29'
 '2017-04-01' '2017-02-18' '2017-04-09' '2017-05-21' '2017-02-25'
 '2017-05-28' '2017-01-14' '2017-04-29' '2017-07-30' '2017-04-22'
 '2017-03-26' '2017-06-18' '2017-07-02' '2017-03-25' '2017-01-21'
 '2017-03-04' '2017-03-18' '2017-03-19' '2017-04-16' '2017-05-07'
 '2017-04-15' '2017-09-16' '2017-06-10' '2017-08-27' '2017-04-08'
 '2017-08-26' '2017-03-11' '2017-02-04' '2017-07-22' '2017-09-21'
 '2017-09-25' '2017-02-11' '2017-05-13' '2017-08-13' '2017-09-02'
 '2017-05-20' '2017-09-10' '2017-07-08' '2017-05-06' '2017-06-11'
 '2017-08-06' '2017-08-05' '2017-07-09' '2017-06-03']
[nan  6.  4. 10. 13.]
[nan  7.]
[261. 269. 266. 246. 263.  31. 248. 247. 264. 260. 267. 265. 275.]
[ 2.  7. nan 20. 10.  6.  1. 24. 13. 18. 11.]
[nan  4.  3.]
[nan  7.  2. 21.  3.  8.]
[nan  1.  9. 13.  5. 11.]
[  nan  900.  273.  384.  252.  912.  352.  100.   90.  396.  786.  112.
  224.  515.  674.  645.  640.  254. 1416.  669.  588.  819.  405.  604.
  168. 1252.  600.  204.  512.   38.  700. 1218.  380.  280. 1809.  126.
  800.  314.  200. 3112.  300.  394. 1969. 3560.]
[ 2.   3.   4.   1.   5.   6.   8.   7.   9.   0.  10.  11.  18.  13.
  2.5  1.5  3.5  4.5  5.5  7.5  6.5  8.5]
[ 3.  4.  5.  1.  2.  6.  8.  7.  0.  9. 11. 10. 12. 14. 16. 13.]
[ 8.  7.  6.  4.  3.  5.  9. 11. 10. 12. nan  1.  2.]
[ 2.   3.   4.   1.   5.   6.   8.   7.   9.   nan 10.  11.  18.  13.
  2.5  1.5  3.5  4.5  5.5  7.5  6.5  8.5]
[nan 66.]
[  nan 1908.  884. ... 2217. 2560. 2711.]
[2107. 1882. 1477. ... 5076. 4983. 5113.]
[2107. 1882. 1477. ... 5076. 4983. 5113.]
[  nan 1060. 1300. 1392. 1056. 1152. 1344. 1248. 1200. 1440. 1488. 1512.
 1536. 1560.]
[  nan 4414. 1739. ... 2122.  928. 1617.]
[  nan 1908. 2570. ... 6028. 2560. 2711.]
[  nan 2208. 1184.  856.  750. 1863. 3160.  937. 1056.  672. 1040.  682.
 1178. 1567. 2444. 1363. 2694.  940. 2630. 3052. 3278. 1522.  845.  833.
 2030.  501. 1320.  912.  532. 1218. 1443. 1008. 1214. 3981. 4411. 2252.
 2054. 1652.  942.  812. 1123. 3432.  976. 2130. 1539.  898. 1313. 2362.
  664.  926.  962. 1982.  960. 3707. 3997. 1242. 1049. 1250. 1243. 1354.
  738. 1818. 2110. 2470. 1950.  520. 1074. 2396. 1975. 1030. 1012. 2508.
 2132. 1272. 2184.  601. 2515. 2123. 3073. 2808. 4261. 1854.  716. 1446.
 2016. 1879. 1679. 1216. 1380.  432.  624.  956. 1832. 2153. 1347.  770.
 1246. 2290. 3870. 1838.  816. 3646.  460. 1085. 2372. 2398.  905. 1412.
  970. 2604. 1172. 2730. 1498. 3468. 1482.  938.  708. 1159.  864. 3829.
 3663.  380. 3838. 3470. 3752. 1719. 2629. 2796. 1622. 1024. 1983.  952.
 4380. 1342.  560. 4232. 4153. 1058. 1828.  688. 1360. 1220. 2077. 1568.
 3601. 1130. 1936.  823. 1411. 1115. 3169. 2547. 1064. 2198. 2603. 2482.
 1235. 4367. 3892. 4468. 1106. 2762. 4572.  623.  909.  761.  935. 3709.
 3600. 1345. 3750. 4442. 3167. 4968. 2625. 3500. 3086. 4404. 4304.  826.
 4354. 3912. 3913. 3585. 3430. 5041. 4321. 3678. 3472. 2445.  459. 1144.
 2174.  919.  758. 5586. 1425. 2802.  900. 4069. 4230. 3857. 2635. 1271.
  811. 1454.  540.  576. 1238. 4107. 3950. 4109. 4291. 2207. 2459. 3756.
 3766. 1283. 1233. 5068. 1125. 3258. 4300.  400. 1132. 4339. 3188. 3054.
 1200. 2343. 4233. 1296. 3490. 4302. 3280. 3462. 4231. 3608. 3552. 2792.
 2423. 1856. 4414. 2464. 1321. 1677. 1888. 1792.  964. 2530. 2725.  759.
  784.  384. 1050. 1232. 4213. 1804. 2283. 1136. 1288.  444. 1445. 1751.
  904. 1939. 1752. 1460.  600. 1933. 2000. 4214. 4198. 4553. 2774.  728.
 1807. 3300. 1396. 3423. 1611. 2965.  880.  955.  878.  903. 1715. 1756.
  740. 1111. 1998. 3148. 2942. 3743. 2165. 1714.  622.  848.  908. 1167.
  855.  944.  765. 1297.  748.  837. 1120. 1517.  595.  653. 2516. 3040.
  684. 1099. 1210.  670. 2298. 3543. 4086. 2089.  989.  634.  920. 2098.
  744. 1819. 3765. 5598. 2332. 2361. 4240. 2578. 3680. 3044. 3036. 1824.
 3001. 3060. 1600. 2676. 2708. 2816. 1574. 1999. 1441. 2322. 3195. 1346.
 1292. 4184.  393.]
[6037. 6059. 6111.]
[nan  1.  2.  3.  4.  5.]
[ 2.  3.  4.  1.  5.  6.  8.  7.  9. nan 10. 11. 18. 13.]
[nan  2.  1.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 14. 13.]
[  nan    0.  481.  267.  360.  400.  480.  483.  449.  390.  420.  484.
  533.  525.  440.  492.  399.  500.  572.  504.  640.  582.  393.  368.
  384.  442.  552.  432.  336.  324.  486.  560.  435.  589.  576.  441.
  468.  288.  396.  252.  410.  426.  462.  370.  380.  430.  216.  242.
  340.  444.  256.  200.  160.  222.  228.  369.  350.  231.  240.  351.
  405.  260.  475.  450.  437.  192.  220.  210.  250.  270.  418.  471.
  473.  720.  579.  461.  485.  600.  385.  394.  456.  447.  427.  756.
  880.  419.  464.  436.  478.  539.  389.  451.  622.  580.  627.  591.
  608.  690.  630.  617.  626.  629.  482.  507.  180.  741.  330.  465.
  378.  613.  614.  433.  660.  814.  890.  574.  520.  615.  402.  936.
 1087.  413.  407.  568.  506.  638.  625.  616.  416.  584.  641.  633.
  595.  652.  585.  606.  398.  681.  590.  563.  518.  597.  860.  671.
  609.  487.  421.  377.  431.  361.  428.  454.  162.  401.  374.  404.
  417.  434.  469.  195.  347.  345.  452.  634.  439.  460.  795.  495.
 1283.  550. 1155.  403.  357.  561.  463.  567.  832.  897.  498.  458.
  446.  448.  224.  230.  308.  852.  510.  253.  348.  751.  214.  290.
  455.  527.  736.  364.  704.  806.  331.  540.  333.  150.  664.  528.
  767.  366.  341.  599.  358.  474.  503.  581.  816.  320.  496.  264.
  424.  414.  280.  387.  362.  312.  409.  512.  707.  542.  425.  658.
  538.  646.  691.  667.  489.  605.  505.  828.  697.  676. 1511.  175.
  827.  864.  696.  656.  781.  647.  535.  683.  392.  299.  713.  556.
  871.  598.  818.  289.  445.  372.  323.  558.  522.  514. 1162.  536.
  494.  548.  546.  805.  212.  631.  406.  675.  411.  429.  813.  543.
  457. 1497.  699.  840. 1245. 1058.  529.  700.  229.  732. 1001.  408.
  712.  152. 1048.  255.  209.  339.  225.  412.  714.  891.  776.  438.
  476.  459.  443.  711.  232.  624.  375.  493.  517.  276. 1296. 1762.
  557.  499.  490. 1723.  516.  497.  472.  545.  491.  588.  726.  719.
  847.  702.  738.  651. 1017.  619.  688.  365.  244.  706.  900. 1137.
  672.  604.  422.  467. 1235. 1641.  748. 1306.  858.  423.  477.  488.
  379.  285.  862.  753. 1092.  750.  532.  610.  395.  415.  848. 1112.
  466.  453.  530.  383.  352.  570.  479.  642.  246.  354.  204.  551.
  515.  555.  892. 1042.  878.  761.  501.  502.  612.  649. 1050.  388.
  534.  778.  391.  559.  575.  974.  762. 1129. 1084.  602.  670.  716.
  730.  768.  850.  734.  770.  594.  724.  562.  833.  586.  780.  397.
  283.  386.  519.  571.  894.  367.  693.  470.  531.  273.  524.  960.
  523.  509.  653.  607.  685. 2015.  760. 1091.  680.  632.  577.  564.
  912.  775.  272.  623.  547.  573.  723.  678.  728.  603.  998.  511.
  521.  687.  621.  636.  654.  544.  744.  655.  371.  668.  663.  644.
  356.  618.  703.  648.  677.  964.  689.  382.  381.  740.  537.  686.
  665. 1125.  637. 1420.  886. 1400.  933.  951.  628.  771.  300.  261.
  743.  189.  190.  611.  245.  718.  973.  904.  659.  596.  569.  549.
  731.  749.  286.  342.  578.  526.  639.  635.  881.  315.  513.  650.
  335.  709.  275.  666.  786.  592.  772.  669.  508. 1130.  800.  717.
  777. 1037.  682.  808.  376.  304.  692.  553.  593. 1291.  305.  854.
  601.  875.  657.  643. 1000.  755.  684. 2198. 1284. 1080. 1514.  715.
 1121. 1128. 1171. 1023.  914. 1110.  841. 1047.  774.  924.  819. 1016.
  807.  788.  765. 1103.  674. 2296.  957.  783.  373.  931.  306.  838.
  301.  587.  722.  943.  725.  794.  752. 1154. 1612.  782.  739.  773.
  764.  705.  956.  823.  876.  727.  673.  843.  620.  721.  856.  733.
  645.  967.  779.  834.  857.  708.  990. 1557. 1207. 1230.  804.  908.
 1150.  978. 1449. 1229.  694.  307. 1022.  798.  920.  955.  870.  359.
 2000. 2720.  934.  746. 1644.  541. 1419.  851.  258.  310.  297.  729.
  287.  980.  583. 2632. 1024.  791.  662.  735.  322.  294. 1096.  948.
 3115. 3233. 1095.  953. 1030.  969. 1009.  945.  910. 1543. 1432.  846.
 1183. 1006.  952.  822. 1272.  935.  747.  801. 2886. 1113. 1220.  799.
  917. 1093.  836. 1490. 1313.  902.  868. 1029.  766. 1101. 1585.  701.
  966.  679.  566.  565.  979.  863.  837.  759.  787.  873. 1286.  865.
  205.  144.  136.  248.  198.  196. 4251.  825.  831. 1003. 1115.  977.
  830.  763.  793.  874.  845.  754. 1094.  906.  968.  829.  882.  889.
  815.  218.  325.  792.  554. 1004. 1196. 1411. 1164.  916. 1114. 1055.
  769.  821.  695. 1179.  949. 1107. 1188.  785.  921. 2901.  346.  802.
  737.  344. 1036. 1049.  958. 1537. 1270.  911.  844.  903. 1253.  839.
 1216.  898.  895. 1071.  810.  939.  842. 1456. 1025.  796. 1225.  995.
  824.  355.  274.  332.  983. 1546. 1031. 1468.  784. 1761.  221. 1200.
 1851. 1088. 1361.  992. 1090.  234.  153.  266.  292. 1394.  790.  249.
  950. 1152. 1077. 3791.  922. 1211.  926.  884.  932.  918. 1062.  302.
  237.  907. 1056. 1100.  698.  742.  661.  899.  710. 1011.  893.  757.
  976.  947.  263. 1002.  855. 1265.  872. 1327.  942. 1248. 1074.  991.
 1421. 1380. 1681. 1005.  835.  896.  803.  954. 1044.  861.  820. 1280.
 1582.  888. 1204.  923.  877. 1176.  975.  915.  927.  984.  971.  817.]
[nan  1.]
[34222559. 34220261. 34222491. ... 34048223. 34108983. 34045062.]
[-1.18617387e+08 -1.18616409e+08 -1.18616854e+08 ... -1.18520239e+08
 -1.18262402e+08 -1.18020570e+08]
[ 9158.  9035.  9800. ... 24662. 21802. 32226.]
[ 1. nan]
[  nan  750.  512.  600.  800.  450. 1120.  648.  630.  240.  520.  832.
  751.  453.  735.  640.  404.  448.  592.  720.  435.  576.  540.  525.
  468.   38.   24.  350.  510.  500.  495.  544.  370.  578.  770.  416.
  300.  200.  375.  377.  360.  420.  398. 1000.  480.  472.  364.  408.
  391.  400.  570.  432.  728.  680.  740. 1065.  722.  608.  595.  324.
  684.  385.  670.  487.  312.  372.  424.  601.  384.  465.  256.  590.
  550.  250.  764.  594.   65.  650.  702.  704.  255.  233.  555.  557.
  629.  496.  327.  428.  467.  430.  475.  476.  655.  710.  451.  738.
  657.  515.  530.  528.  129.  410.  238. 1052.  564.  462.  552.  580.
  535.  478.  440.  562.  368.  459.  700.  482.  850.  560.  551.  504.
  405.  646.  320.  486.  460.  427.  490.  635.  583.  345.  425.  347.
  575.  612.  694.  429.  325.  456.  518.  860.  485.  688.  792.  661.
  725. 1364.  431.  516.  675.  390.  471.  304.  625.  436.  361. 1070.
  474.  548.  558.  264.  589.  615.  330.  230.  549.  587.  532.  602.
  439. 1500.  785.  412.  389.  747.  773.  338.  365.  505.  234.  584.
  418.  604.  380.  172.  275.  392.  310.  306.  353.  290.  690.  605.
 1109.  760.  378.  660.  362.  673.  309.  403.  449.  554.  820.  340.
  794.  762.  288.  546.  900.  442.  105.  663.  631.  112.  885.  616.
  990.  455.  434.  371.  523.  499.  421.  423.  561.  840.  396.  543.
  270.  387.  507.  969.  837.  780.  498.  574.  537.  470.  624.  712.
  768.  276.  308.  144.  742.  799.  627.  582.  913.  642.  358.  402.
  280.  756. 1200.  547.  422.  464.  931.  458.  257.  414.  598.]
[nan  1.]
[nan  1.]
[ 1. nan]
['0101' '0100' '010D' '01DC' '0104' '010C' '012C' '0103' '0200' '010E'
 '0700' '070D' '1722' '0102' '0108' '010H' '0400' '0300' '020M' '012E'
 '0203' '1720' '010V' '0201' '010F' '1210' '0301' '0401' '0109' '010M'
 '0131' '0130' '0105' '0110' '0111' '0114' '01HC' '030G' '0204' '01HE'
 '010G' '0113' '0133' '040G' '020G' '040V' '010L' '0141' '020E' '040B'
 '0115' '012D' '122' '38' '1' '96' '135' '73' '105' '34' '1110' '1112'
 '1222' '1111' '1116' '1128' '1129' '1333' '1321' '1120' '1432' '1410'
 '1310' '1117' '1421']
['LARE9' 'LARE11' 'LARS' ... 'LCR18500*' 'LCRPD50001' 'LCR2000020']
[60371132.32100699 60371132.321008   60371132.32101601 ...
 60377018.02101    60372625.012003   60371873.001003  ]
[ 12447.     nan   9840.  38980.  37688.  34278.  41673. 396053. 396054.
  47547.  45457.  51617.  54311.  10734.  40227.  29189.  25621.  13232.
  16677.  36078.  21395.   5534.  25468. 116042.  45888. 396550. 118914.
  42150. 118875.  45398.  54722. 113412.  46178.  33612.  55753.  19177.
  29712.  53162.  26964.  10389.  48424.  56780.  12520.  17882.  50677.
   6021. 272578.  25953.  54212.  26483.  36502.  27183.  47019.  54299.
  33837. 114834.  50749.  14111. 396551.  46080.  47695.  32923.  30187.
  39076. 118994. 118880.  10723.  24174.  32616.  47762.  31134.  16961.
   4406.   6395.  44116.  32753.  30399.  10608.   5465.  10774.  53636.
  30267.  15237.  12292.  21778.  44833.  46298.  27103.  54352. 118878.
  53027.  54053.   3491.  33311.  33727.   6822.  33312.  13716. 118225.
 114828.  18874.  51861. 113576.  14634. 396556.  39306. 118895.  45602.
  18875. 118694.  14542.  22827.  24245.  24384.  30908.  20008.  32927.
  39308.  33836.  25271.  10241.  34636.  14906.  24435.  37015.  11626.
  10815. 118217.  47568.  25218.  24812.  16764.  33252.  53571.  52842.
  17686.  13693.  42967.  46314.  24832.  40081.  34780.  27491.  52650.
  16389.   8384.  38032.  33840.  17150.  21412.  26531.  54970.  40009.
  32380.  12773.  25458.  46098.  37086.  25459.  52835.  15554.  17597.
  34543.  13091.  26965.  40110.  18098.  13311.  51239.  34037.  13150.
  47198.  25974.  27110.  53655.  42091.]
[3101. 1286. 2061.]
[268588.     nan  30731.  48570. 764099. 764089. 764098. 155228. 764097.
 764090. 764095. 249692. 764093. 764094. 764087. 764096. 764088. 762527.
  51224. 763012. 763011.  32368.  40548.  27987.  51906.  47950.  41466.
  13176. 268002. 268548.  27080.  41131.  46795. 268551.  47880. 274049.
  25449. 116375.  27431. 265889. 763680. 763679.  34213.  40215. 268249.
  33952.  27328.  27484. 273400.  31817. 762190. 403184. 116646.  13017.
  33183. 275078.  37835.  37739.   6952.  48200.  26134. 115729. 118208.
 763220. 224568. 761099. 763218.  36630. 763217. 416334. 763219. 274750.
   7877. 276514. 268496. 762186. 763527.  11950. 762183. 762187. 262098.
 268097. 762193. 762188. 117183. 762191. 259315. 762184. 762189.  13327.
  19265. 116415. 762185.  21056. 273197. 268118. 403142. 117954. 113910.
 761541. 268293. 761542. 761545. 761546. 761547. 761543. 117023. 761544.
 403183. 403195. 275024. 762192. 118887. 114246. 118920. 403194. 276450.
 762181. 762180. 762178. 762177. 113749. 113688.  19810. 764167. 763094.
 764166. 764164. 761094. 274293. 115836. 757352. 268581. 268540. 403192.
 274514. 403193. 268236. 276023. 268404. 268057. 113886. 116206. 114914.
 268316. 403190. 417433. 275411. 623382. 275405. 623380. 623346. 623379.
 275426. 623378. 623377. 273572. 623381. 268473. 268134. 276257. 268144.
  32059. 274359. 275778. 268010. 403191. 268103. 116774. 273825. 115609.
 114808. 274517. 762179. 762175. 274582. 275512. 274580. 275857. 274857.
 276061. 273617. 273868. 273837. 276348. 275207. 274995. 273059. 275856.
 273789. 275884. 274425. 274940. 273257. 275257. 276258. 276121. 273890.
 273633. 276256. 274684. 273834. 275130. 273313. 275396. 272725. 274587.
 275958. 274695. 273539. 274513. 274705. 118849. 273930. 276606. 416307.
 416319. 416320. 276476. 272968. 272969. 274358. 273109. 275067. 274262.
 273263. 276157. 416311. 273252. 116302. 274961. 273615. 416308. 416317.
 343505. 275567. 416318. 272933. 273567. 272737. 416316. 116828. 113713.
 416860. 416310. 416304. 416315. 416309. 416302. 416305. 416303. 416313.
 416312. 273486. 416306. 416314. 275989. 276299. 416335. 416338. 274895.
 416341. 416345. 416339. 416343. 416346. 416348. 416347. 416342. 416340.
 416344. 416349. 275428. 416331. 416337. 416965. 416330. 416964. 416350.
  38888. 416963.  48516.  54300. 416333. 115657. 416967. 416332. 275994.
 416336. 118825. 416329. 416966. 762683. 259606. 761097. 267436. 764147.
 764148. 764135. 764144. 764134. 763185. 764142. 763080. 763079. 260611.
 764149. 764152. 248165. 214079. 259818. 191484. 763172. 763090. 764074.
 762685. 762684. 762682. 763169. 763171. 763089. 764143. 764145. 764146.
 764141. 762890. 764140. 764138. 763170. 275210. 268585. 268157. 268160.
 268050. 276461. 268392. 273677. 268454. 268007. 268572. 268596. 273198.
 268162. 268403. 272912. 268208. 268132. 276449. 268602. 274392. 274494.
 276293. 273168. 273350. 275695. 274765. 275470. 275496.  28119. 118872.
 274800. 113455. 268441. 273339. 273607. 403196. 273096. 276581. 276486.
 268587. 268334. 268604. 268605. 417224. 268509. 275738. 275300.  47913.
 268439. 763789. 763790. 763791. 273663. 268288. 268413. 273791. 268244.
 273866. 268269. 274343. 268451. 268055. 268546. 275339. 268253. 273041.
 268453. 268482. 268291. 268323. 268430. 275979. 276119. 275916. 273611.
 274828. 275824. 275785. 275340. 275784. 275111. 274371. 403127. 274815.
 403197. 764105. 764109. 764107. 764106. 764108. 764101. 764104. 764103.
 764102. 417225. 275129. 416873. 275826. 275795. 761217. 761219. 761223.
 761218. 761211. 761215. 761055. 116430. 116692. 411433. 761222. 761221.
  22655. 761210. 762927. 762928. 762963. 135143. 762952. 762939. 114909.
 762959.  30685. 762950. 761001. 762956. 762951. 762930. 117148. 156012.
 762961. 762962. 762960. 267814. 762940. 762957. 762954. 761000. 762953.
 246825. 762949. 762948. 118106. 115656. 762946. 762938. 762931. 762936.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    * A dataframe
    * A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    * A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    * The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
    * hint: Look up the dropna documentation.
    * You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    * Make use of inplace, i.e. inplace=True/False.

3. Decide how to handle the remaining missing values:
    * Fill with constant value.
    * Impute with mean, median, mode.
    * Drop row/column

# Mall Customers

notebook

- Acquire data from mall_customers.customers in mysql database.
- Summarize data (include distributions and descriptive statistics).
- Detect outliers using IQR.
- Split data (train, validate, and test split).
- Encode categorical columns using a one hot encoder (pd.get_dummies).
- Handles missing values.
- Scaling

wrangle_mall.py

- Acquire data from mall_customers.customers in mysql database.
- Split the data into train, validate, and split
- One-hot-encoding (pd.get_dummies)
- Missing values
- Scaling